/* it is totally okay for this to be completely empty right now, add what you need */
/*Define Map Position*/
 body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0; }


/*define floater*/
#floater{
  position:absolute;
  z-index:450;
  top:5px;
  right:5px;
  background-color:rgba(254,178,76,0.8);
  font-family:"Bookman Old Style";
  text-align: center;
  font-size:36px;
  padding:6px;
  border-radius:6px;
}